.custom-color-button {
    background-color: #023047 !important;
    border: #023047 !important;
    color: #FFFBEB !important;
<<<<<<< HEAD
    align-content: center !important;
    width: 100%;
=======
    width: 100%
>>>>>>> 022169dbb333b78cb8eb5bb4d28c675c4e6641de
}


.custom-color-button:hover {
    background-color: #FFE63F !important;
    border: #FFE63F !important;
    color: #023047 !important;
}