.custom-color-button {
    background-color: #023047 !important;
    border: #023047 !important;
    color: #FFFBEB !important;
    width: 100%
}


.custom-color-button:hover {
    background-color: #FFE63F !important;
    border: #FFE63F !important;
    color: #023047 !important;
}