.card-img-top {
    height: 300px;
}

.card-text {
    color: #023047;
}

.card-body {
    background-color: #f7f0d3;
}

.card {
    --bs-card-border-radius: 0.375rem;
}

.custom-color-button {
    background-color: #023047 !important;
    border: #023047 !important;
    color: #FFFBEB !important;
    margin-right: 20px;
}


.custom-color-button:hover {
    background-color: #FFE63F !important;
    border: #FFE63F !important;
    color: #023047 !important;
}